# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

#IDE
.vscode/
.idea/

# Miscellaneous
.DS_Store
.env
coverage/
.nyc_output/

# GitHub
.github/

# Sessions
sessions/
.wwebjs_auth/